# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.nuxtrc
dist

# Test/coverage outputs
coverage
cypress/screenshots
cypress/videos

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
